:root {
  --primary: #2e4121;
  --bg: #405630;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  height: 50px;
}

.navbar .navbar-logo span {
  color: var(--bg);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var (var(--bg));
  transform: scaleX(0);
  transition: background-color 0.3s, color 0.3s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 30%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  font-family: Papyrus, fantasy; 
  font-style: normal; 
  font-variant: normal; 
  font-size: 5rem ;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  color: #fff;
}

.hero .content p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  color: #fff;
  text-shadow: 2px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--bg);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  color: var(--primary);
  
}

/* About Section */
.about,
.product,
.location {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.product h2,
.location h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.product h2 span,
.location h2 span {
  color: #fff;
}

.about .content h3 span {
  font-family: Papyrus, fantasy; 
  font-style: normal; 
  font-variant: normal; 
  font-size: 2rem ;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  color: #fff;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  border-radius: 40%;
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: justify;
}

/* Visi & Misi Section */
.visi-misi {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.visi-misi .visi,
.visi-misi .misi {
  flex: 1;
  padding: 10px;
  text-align: justify;
}

.visi-misi h4 {
  font-family: 'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.visi-misi p, ul {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
}

.visi-misi ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about .row {
    flex-direction: column;
  }
  .about .row .about-img,
  .about .row .content {
    max-width: 100%;
  }
  .visi-misi {
    flex-direction: column;
  }
}

/* Product Section */
.product h2,
.location h2 {
  margin-bottom: 1rem;
}
.product p,
.location p {
  text-align: justify;
  max-width: 70rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

/* .product row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.product-card {
  text-align: center;
}

.product .row .product-card img {
  border-radius: 30%;
  width: 100%;
} */

/* Style the tab */
.tab {
  overflow: hidden;
  display: flex; 
  justify-content: center; 
}

/* Style the buttons inside the tab */
.tab button {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem; 
  font-size: 1.4rem;
  border-radius: 20px;
  margin: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.tab button:hover {
  background-color: var(--bg);
}

.tab button.active {
  background-color: var(--bg);
}

/* Style the tab content */
.tabcontent {
  text-align: center;
  display: none;
  padding: 1rem;
  border-top: none;
}

.tabcontent h3{
  font-family: 'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px; 
  margin: 0 auto;
  margin-top: 30px;
}

.grid-item {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  height: 200px; 
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  margin: 10px;
}

.link {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}

#item1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../img/standard-1.jpeg");
  background-size: cover;
  
}

#item2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../img/standard-2.jpg");
  background-size: cover;
}

#item3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../img/medium-1.png");
  background-size: cover;
}

#item4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../img/medium-2.png");
  background-size: cover;
}

#item5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../img/premium-1.JPG");
  background-size: cover;
}

#item6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../img/premium-3.jpeg");
  background-size: cover;
}

/* location Section */
.location .row {
  display: flex;
  margin-top: 2rem;
}

.location .row .map {
  flex: 1 1 45rem;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Footer  */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
  font-size: 1.5em;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Queries */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
    transition: 0.3s;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .product p {
    font-size: 1.2rem;
  }
  .location .row {
    flex-wrap: wrap;
  }

  .location .row .map {
    height: 30rem;
  }

  .location .row form {
    padding-top: 0;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
